---
import {sanityClient} from "../../../lib/sanity";
export async function getStaticPaths() {
  const posts = await sanityClient.fetch('*[_type == "post"]');
  console.log(posts);
  return posts.map(({ title, slug }: {
    title: string
    slug: { current: string }
}) => {
    return {
      params: { slug: slug.current },
      props: { title },
    };
  });
}

const { slug } = Astro.params;
const { title } = Astro.props;
---

<p>this is the {title} with slug {slug}</p>

<a href="/">
  <button>Go back</button>
</a>