#carbon-sticky {
	position: fixed;
	right: 0;
  z-index: 10;
	bottom: 20vh;
	-webkit-transform: rotate3d(0, 0, 1, -8deg) translate3d(5%, 0, 0);
	        transform: rotate3d(0, 0, 1, -8deg) translate3d(5%, 0, 0);
	-webkit-transition: all 0.3s ease-in;
	-o-transition: all 0.3s ease-in;
	transition: all 0.3s ease-in;
}

#carbon-sticky:hover {
	-webkit-transform: rotate3d(0, 0, 1, 0deg) translate3d(-10%, 0, 0);
	        transform: rotate3d(0, 0, 1, 0deg) translate3d(-10%, 0, 0);
}

#carbon-sticky.hide {
	-webkit-transform: translate3d(100%, 0, 0);
	        transform: translate3d(100%, 0, 0);
	opacity: 0;
}

#carbon-sticky > button {
	--hideButtonWidth: 60%;
	--hideButtonLeft: calc(100% - var(--hideButtonWidth));
	position: absolute;
	width: 2.5em;
	height: 2.5em;
	overflow: hidden;
	-webkit-transform: translate3d(calc(-100% - 1ch), 0, 0);
	        transform: translate3d(calc(-100% - 1ch), 0, 0);
	border: 0;
	border-radius: 50%;
	-webkit-backdrop-filter: blur(4px);
	        backdrop-filter: blur(4px);
	background: hsla(0, 0%, 87%, 0.85);
	color: transparent;
	cursor: pointer;
	opacity: 0;
	-webkit-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

#carbon-sticky > button:after,
#carbon-sticky > button:before {
	display: block;
	position: absolute;
	top: 50%;
	left: calc(var(--hideButtonLeft) / 2);
	width: var(--hideButtonWidth);
	height: 1px;
	margin-top: -1px;
	background-color: hsla(0, 0%, 7%, 0.8);
	content: '';
}

#carbon-sticky > button:after {
	-webkit-transform: rotate(-45deg);
	    -ms-transform: rotate(-45deg);
	        transform: rotate(-45deg);
}
#carbon-sticky > button:before {
	-webkit-transform: rotate(45deg);
	    -ms-transform: rotate(45deg);
	        transform: rotate(45deg);
}

#carbon-sticky:hover button {
	opacity: 0.7;
}

#carbon-sticky:hover button:hover {
	opacity: 1;
}

#carbonads * {
	margin: initial;
	padding: initial;
	line-height: initial;
}

#carbonads {
	--carbonWidth: 150px;
	--carbonSize: 13px;
	font-size: var(--carbonSize, 12px);
}

#carbonads:after {
	z-index: -1;
	position: absolute;
	width: 150%;
	height: 100%;
	inset: 0 -50px;
	content: '';
}

#carbonads > span {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	max-width: var(--carbonWidth);
	overflow: hidden;
	border-radius: 4px;
	-webkit-box-shadow: 0 5px 15px -10px hsla(0, 0%, 0%, 0.3),
		0 10px 30px -10px hsla(0, 0%, 0%, 0.2);
	        box-shadow: 0 5px 15px -10px hsla(0, 0%, 0%, 0.3),
		0 10px 30px -10px hsla(0, 0%, 0%, 0.2);
	font-family: system-ui;
}

#carbonads a {
	background-image: none;
	color: #111;
	text-decoration: none;
}

#carbonads a:hover {
	color: #111;
}

#carbonads .carbon-img {
	display: block;
	max-width: var(--carbonWidth);
	line-height: 1;
}

#carbonads .carbon-img img {
	display: block;
	width: var(--carbonWidth);
	max-width: unset !important;
	height: auto;
}

#carbonads .carbon-text {
	display: block;
	padding: 1.5ex 1ch;
	background-color: hsl(0, 0%, 98%);
	line-height: 1.35;
	text-align: left;
}

#carbonads .carbon-poweredby {
	display: block;
	padding: 10px;
	background-color: hsl(0, 0%, 95%);
	font-weight: 600;
	font-size: 0.65em;
	line-height: 0;
	letter-spacing: 0.5px;
	text-transform: uppercase;
}