---
import { getCollection } from 'astro:content';
import BaseHead from '../components/BaseHead.astro';

const posts = (await getCollection('articles')).sort(
	(a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf()
);
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title="CodeTricks" description='CodeTricks is a blog about web development, programming, and technology.' />
	</head>
	<body>
		<main>
			<section>
				<ul>
					{
						posts.map((post) => (
								<a href={`/${post.slug}/`}>
									<h3 class="title">{post.data.title}</h4>
									<p class="date">
										{new Date(post.data.pubDate).toLocaleDateString('en-US', {
											year: 'numeric',
											month: 'long',
											day: 'numeric'
										})}
									</p>
								</a>	
						))
					}
				</ul>
			</section>
		</main>
	</body>
</html>
