---
import {sanityClient}  from '../../lib/sanity';

const posts = await sanityClient.fetch(`*[_type == "post"]`);
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>My blog</title>
	</head>
	<body>
		<h1>My blog</h1>
		{posts && (
			<ul>
			  {posts.map((post: any) => (
				<li>
				  <a href={`post/${post.slug.current}`}>{post.title}</a>
				</li>
			  ))}
			</ul>
		  )}
	</body>
</html>
